<!-- src/views/grade3.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>Información del 3° Grado</h1>
    <p>Esta es la información del 3° grado.</p>
    <a href="/">Volver a la página principal</a>
</body>
</html>
