<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/grade2.css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="nav-buttons">
                <a href="/"><button>Inicio</button></a>
                <a href="/grade1"><button>1° Grado</button></a>
                <a href="/grade3"><button>3° Grado</button></a>
            </div>
        </div>
        <div class="title-container">
            <h1>Diversidad una ventana a mi comunidad</h1>
        </div>
    </header>

    <main>
        <h3 style="text-align: center;">Ubicación de la escuela </h3>
        <p style="text-align: justify;">La localidad de Xilocuautla pertenece al municipio de Huauchinango en el estado de Puebla. Hay 1372 habitantes y está a 1641 metros de altura sobre el nivel del mar, es el pueblo más poblado por lo que se encuentra en la posición número 11 de todo el municipio, la localidad se encuentra en una zona marginada a pesar de estar muy cerca de la cabecera municipal, su nombre se compone del náhuatl XILOTL, de donde procede el aztequismo jilote (cabello de elote), mazorca de maíz tierno y CUAUTLA, monte, arboleada; según estos componentes la palabra XILOCUAUTLA significa “monte de mazorcas tiernas”</p>

        <h2 style="text-align: center;">2° A</h2>
        <div class="image-grid" style="text-align: center;">
            <div>
                <img src="/img/2A/img2a.jpg" alt="Imagen 1">
            </div>
        </div>

        <h2 style="text-align: center;">2° B</h2>
        <div class="image-grid">
            <div>
                <img src="/img/2B/img2b1.jpg" alt="Imagen 1">
                <img src="/img/2B/img2b2.jpg" alt="Imagen 2">
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Francisco Márquez. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
