<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/grade1.css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="nav-buttons">
                <a href="/"><button>Inicio</button></a>
                <a href="/grade2"><button>2° Grado</button></a>
                <a href="/grade3"><button>3° Grado</button></a>
            </div>
        </div>
        <div class="title-container">
            <h1>Diversidad una ventana a mi comunidad</h1>
        </div>
    </header>

    <main>
        <h3 style="text-align: center;">Objetivo</h3>
        <p>Reforzar su identidad personal, colectiva y el sentido de pertenencia ejercitando la imaginación y la creatividad a través de la elaboración de una artesanía y compartirla mediante la tienda virtual</p>

        <h2 style="text-align: center;">1° A</h2>
        <div class="image-grid">
            <div>
                <img src="/img/1A/img5.jpg" alt="Imagen 1">
                <img src="/img/1A/img3.jpg" alt="Imagen 1">
                <img src="/img/1A/img2.jpg" alt="Imagen 2">
                <img src="/img/1A/img4.jpg" alt="Imagen 2">
                <img src="/img/1A/img8.jpg" alt="Imagen 2">
                <img src="/img/1A/img9.jpg" alt="Imagen 2">
            </div>

        <h2 style="text-align: center;">1° B</h2>
            <div>
                <img src="/img/1B/Img1.jpg" alt="Imagen 1">
                <img src="/img/1B/Img2.jpg" alt="Imagen 2">
                <img src="/img/1B/Img3.jpg" alt="Imagen 2">
                <img src="/img/1B/Img4.jpg" alt="Imagen 2">
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Francisco Márquez. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
