<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/grade3.css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="nav-buttons">
                <a href="/"><button>Inicio</button></a>
                <a href="/grade1"><button>1° Grado</button></a>
                <a href="/grade2"><button>2° Grado</button></a>
            </div>
        </div>
        <div class="title-container">
            <h1>Diversidad una ventana a mi comunidad</h1>
        </div>
    </header>
    <main>
      
        <section class="highlights">
            <h2 style="text-align: center;">3°</h2>
            <ul>
                <li><img src="/img/3/img3a.jpg" alt="Recursos interactivos"></li>
                <li><img src="/img/3/img3b.jpg" alt="Recursos interactivos"></li>
                <li><img src="/img/3/img3c.jpg" alt="Recursos interactivos"></li>
                <li><img src="/img/3/img3d.jpg" alt="Recursos interactivos"></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Francisco Márquez. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
