<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/grade1.css">
</head>
<body>
    <header>
        <h1>Información del 2° Grado</h1>
    </header>
    <main>
        <p>Esta es la información del 2° grado.</p>
        <div class="image-grid">
            <div>
                <h2>Grupo A</h2>
                <img src="/img/2° A/img2a.jpg" alt="Imagen 1">
            </div>
            <div>
                <h2>Grupo B</h2>
                <img src="/img/2° B/img2b1.jpg" alt="Imagen 2">
                <img src="/img/2° B/img2b2.jpg" alt="Imagen 3">
            </div>
        </div>
        <a href="/">Volver a la página principal</a>
    </main>
    <footer>
        <p>&copy; 2024 Mi Sitio Educativo. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
