<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>Bienvenido a la Página Principal</h1>
    <nav>
        <ul>
            <li><a href="/grade1">1° Grado</a></li>
            <li><a href="/grade2">2° Grado</a></li>
            <li><a href="/grade3">3° Grado</a></li>
        </ul>
    </nav>
</body>
</html>
