<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="nav-buttons">
                <a href="/grade1"><button>1° Grado</button></a>
                <a href="/grade2"><button>2° Grado</button></a>
                <a href="/grade3"><button>3° Grado</button></a>
            </div>
        </div>
        <div class="title-container">
            <h1>Diversidad una ventana a mi comunidad</h1>
        </div>
    </header>
    <main>
        <h3 style="text-align: justify;">  Se elabora el presente proyecto de integración comunitaria con la finalidad de aprovechar los conocimientos de los alumnos así como de sus padres o tutores para rescatar algunas tradiciones que, con el paso del tiempo y el avance de la tecnología se han ido perdiendo y que forman parte del patrimonio tangible e intangible de pueblos originarios como es el caso de Xilocuautla, lugar en donde se elaboran artesanías que la gente emplea para su propia indumentaria y que difícilmente transmiten a las nuevas generaciones por lo que, el personal docente de la institución busca rescatar esta tradición con ayuda de algunos padres y madres de familia pero en especial de los alumnos de nuestra institución, para dar a conocer parte de la cultura de este lugar a través de la difusión de los trabajos realizados en medios de comunicación.</h3>
        <section class="highlights">
            <p style="text-align: center; font-size: 22px;">Actividades de embastillado realizados por los alumnos de la Telesecundaria Francisco Márquez de los diferentes grados.</p>
            <ul>
                <li><img src="/img/Alumna.jpg" alt="Recursos interactivos"></li>
                <li><img src="/img/Alumnos.jpg" alt="Recursos interactivos"></li>
                <li><img src="/img/Bordado.jpg" alt="Recursos interactivos"></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Francisco Márquez. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
